    <%= button_to_function "Edit options", "editQuestionOptions(#{@question.id.to_s.to_json}, #{url_for([:edit_options, @questionnaire, @page, @question.becomes(Question)]).to_json});", :style => "display: inline;" %>
  </span>
  <span id="selectoredit_<%= @question.id %>" style="display: none;">
    <table>
      <tr>
        <td style="width: 400px;"><iframe style="position: absolute; top: 0; width: 400px; z-index: 1000; border: 1px black solid; display: none;" id="selectoredit_iframe_<%=@question.id%>"></iframe></td>
        <script type="text/javascript">
          Event.observe('selectoredit_iframe_<%=@question.id%>', 'load', function() {
            iframe = $('selectoredit_iframe_<%=@question.id%>');
            if (!iframe.visible()) {
              new Effect.BlindDown(iframe, {duration: 0.25});
            }
        });
        </script>
        <td>
          <%= button_to_function "Done",  "closeQuestionOptionsEditor(#{@question.id});", :style => "display: inline;" %>
        </td>
      </tr>
    </table>
  </span>

