{{#link-to "page" this tagName="div" href=false}}
  <div class="answerpage" {{bind-attr data-page-id="id"}}>
    <div class="pagetitle">
      {{view InPlaceEditorView valueBinding="title" modelBinding="model"}}
    </div>

    {{#if questionnaire.hasMultiplePages}}
      <div class="pagecount">Page {{number}} of {{ questionnaire.pages.length }}</div>
    {{/if}}

    {{view QuestionsView contentBinding="questionsSorted"}}

    <div class="navbuttons">
      {{#unless isFirstPage}}
        <input type="submit" value="<< Previous page"/>
      {{/unless}}
      {{#if isLastPage}}
        <input type="submit" value="Finish"/>
      {{else}}
        <input type="submit" value="Next page >>"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Finish later"/>
      {{/if}}
    </div>
  </div>
{{/link-to}}