<h1>Publish "<%=h @questionnaire.title%>"</h1>

<%= render :partial => "toolbar" %>

<div class="propertypage">
  <% if @questionnaire.is_open -%>
    <h2>Survey URL</h2>
    
    <p>This is the public URL for your survey.  You can paste it into email, web sites, Twitter, or anywhere else you'd like to
    link to your survey.</p>
  
    <p>
      <% answer_url = url_for(:controller => "answer", :action => "index", :id => @questionnaire.id, :only_path => false) %>
      <%= link_to answer_url, answer_url %>
    </p>
  <% end -%>
  
  <h2>Publishing</h2>
  
  <p>
    <% if @questionnaire.is_open -%>
      This survey is currently <b>published</b>.  If you want to edit the survey, you must put it in design mode.  People
      will not be able to answer the survey while it is in design mode.
    <% else -%>
      This survey is currently <b>in design mode</b>.  If you want to allow people to take the survey, you must publish it.
      You cannot edit the survey while it is published.
    <% end -%>
  </p>
  
  <p style="margin-left: 1em; vertical-align: middle;">
    <% if @questionnaire.is_open -%>
      <% form_for(:questionnaire, @questionnaire, :url => questionnaire_path(@questionnaire), :html => { :method => :put }) do |f| %>
        <%= f.hidden_field "is_open", :value => "0" -%>
        <%= submit_tag "Put this survey back into design mode", :confirm => "Are you sure?  This will prevent people from taking the survey." %>
      <% end -%>
    <% else -%>
      <%= button_to_function "Publish this survey", "$('published_only_options').show(); $('publish_this_survey').disabled = true;", :id => "publish_this_survey" %>
    <% end -%>
  </p>
  
<% form_for(:questionnaire, @questionnaire, :url => questionnaire_path(@questionnaire), :html => { :method => :put }) do |f| %>
  <div id="published_only_options" style="display: none;">
    <%= f.hidden_field "is_open", :value => "1" -%>
    <h3>Options</h3>
    <p>If you wish, you can allow people to log into Journey before taking the survey.  Doing so will enable some further
      options, such as the ability to submit a partial response and finish answering later.</p>
      
    <p style="margin-left: 1em; vertical-align: middle;">
      <%= f.select "login_policy", [["Don't let survey takers log into Journey", "unadvertised"],
                                    ["Let survey takers choose whether or not to log in", "prompt"],
                                    ["Force survey takers to log in before taking this survey", "required"]] %>
      <span id="login_only_options">
        <p style="margin-left: -1em;">
          People who log in before taking the survey will receive additional features, if you choose to let them:
        </p>
        <%= f.select "allow_finish_later", [["Allow survey takers to submit a partial response and finish answering later", true],
                                            ["Require survey takers to fill out the entire survey at once", false]] %>
        <br/>
        <%= f.select "allow_amend_response", [["Allow survey takers to amend their response after they've submitted it", true],
                                              ["Once a response is submitted, it cannot be changed", false]] %>
      </span>
    </p>    
    
    <p>
      <%= submit_tag @questionnaire.is_open ? "Save changes" : "Publish this survey" %>
      <% unless @questionnaire.is_open -%>
        <%= button_to_function("Cancel", "$('published_only_options').hide(); $('publish_this_survey').disabled = false;") %>
      <% end -%>
    </p>
  
  </div>
<% end -%>
