<div class="answerpage" id="answerpage">
<div class="pagetitle"><%= @questionnaire.title %></div>

<p><%=raw @questionnaire.welcome_text %></p>

<style type="text/css">
.questionnaire_startbox table th {
  text-align: left;
}

.questionnaire_startbox table {
  border-collapse: collapse;
  width: 100%;
}

.questionnaire_startbox table tr {
  background-color: #eee;
}

.questionnaire_startbox table tr.odd {
  background-color: #ddd;
}

.questionnaire_startbox table td, .questionnaire_startbox table th {
  padding: 2px;
}

.bigbutton.full {
  width: 388px;
  text-align: center;
}

.bigbutton.half {
  width: 180px;
  text-align: center;
  font-size: 115%;
}

.bigbutton.green {
  background-color: #6aba32;
  border-color: #6aba32;
}

.bigbutton.blue {
  background-color: #32bad0;
  border-color: #32bad0;
}

.bigbutton.gold {
  background-color: #d0ba32;
  border-color: #d0ba32;
}

.bigbutton.lavender {
  background-color: #d09ad0;
  border-color: #d09ad0;
}

.bigbutton.small {
  font-size: 90%;
  width: 388px;
  text-align: center;
}
</style>

<div class="questionnaire_startbox">
  <% if person_signed_in? -%>
    <% content_for :startbox_heading do -%>
      <h3>Welcome, <%=h current_person.name %>!</h3>
      <span style="font-style: italic; font-size: 95%;">
        Not <%=h current_person.name %>?  <%= link_to "Click here to log out.", destroy_person_session_path(prompting_questionnaire_id: @questionnaire.id), method: :delete %>
      </span>
    <% end -%>
    
    <% if @responses.length > 0 -%>   
     <% content_for :startbox_main_option do -%>
        <p style="margin: 1em; margin-left: 0;">You've already taken this survey.</p>
        
        <table>
          <% @responses.each do |resp| -%>
            <tr class="<%= cycle "odd", "even" %>">
              <th>Response #<%= resp.id %></th>
              <td>
                <% if resp.submitted -%>
                  finished
                <% else -%>
                  in progress
                <% end -%>
              </td>
              <td>
                <%= time_ago_in_words resp.submitted_or_created_at %> ago
              </td>
              <td>
                <% if resp.submitted -%>
                  <% if @questionnaire.allow_amend_response %>
                    <%= link_to "Edit", :action => 'resume', :id => resp.id %>
                  <% end -%>
                <% else -%>
                  <% if @questionnaire.allow_finish_later %>
                    <%= link_to "Resume", :action => 'resume', :id => resp.id %>
                  <% end -%>
                <% end -%>
                <% if @questionnaire.allow_delete_responses %>
                  <%= link_to "Delete", response_url(@questionnaire, resp), :method => "delete", 
                        :confirm => "Are you sure you want to delete response \##{resp.id}?" %>
                <% end -%>
              </td>
            </tr>
          <% end -%>
          <tr class="<%= cycle "odd", "even" %>">
            <td colspan="4">
              <%= link_to "Start new response &raquo;".html_safe, :action => 'start', :id => @questionnaire.id %>
            </td>
          </tr>
        </table>
      <% end -%>
    <% else -%>
      <% content_for :startbox_main_option do -%>
        <p>
          <%= link_to "Start survey &raquo;".html_safe, { :action => 'start', :id => @questionnaire.id }, :class => "bigbutton full" %>
        </p>
      <% end -%>
    <% end -%>
  <% else -%>
    <% content_for :startbox_heading do -%>
      <h3>Ready to begin?</h3>
    <% end -%>
    <% if @questionnaire.require_login -%>
      <% content_for :startbox_main_option do -%>
        <p>This survey requires you to log into Journey in order to answer it.</p>
      
        <%= link_to "Log into Journey, or sign up for a free account &raquo;".html_safe, new_person_session_path(prompting_questionnaire_id: @questionnaire.id), :class => "bigbutton full" %> 
      <% end -%>
    <% elsif @questionnaire.advertise_login and (@questionnaire.special_fields.length > 0 or @questionnaire.allow_finish_later or @questionnaire.allow_amend_response) -%>
      <% content_for :startbox_main_option do -%>
        <%= link_to "Log into Journey, or sign up for a free account &raquo;".html_safe, new_person_session_path(prompting_questionnaire_id: @questionnaire.id), :class => "bigbutton green half" %> 
        <%= link_to "Answer this survey without logging in &raquo;".html_safe, { :action => 'start', :id => @questionnaire.id }, :class => "bigbutton half" %>
      <% end -%>
      <% content_for :startbox_additional_options do -%>
        <li>
          <%= link_to_function("Why log in?", :id => "why_login_link") do |page|
                page['why_login'].show
                page['why_login_link'].hide
              end %>
        </li>
      <% end -%>
              
      <% content_for :startbox_additional_content do -%>
        <div id="why_login" style="display: none;">
          <p><b>Why log in?</b></p>
          <ul>
            <% if @questionnaire.special_fields.length > 0 -%>
              <li>We'll be able to pre-fill some of the answers to this survey based on your account information.</li>
            <% end -%>
            <% if @questionnaire.allow_finish_later -%>
              <li>You'll be able to put aside this survey and come back to it later if you wish.</li>
            <% end -%>
            <% if @questionnaire.allow_amend_response -%>
              <li>You'll be able to amend your response if you change your mind about anything after you submit the survey.</li>
            <% end -%>
          </ul>
        </div>
      <% end -%>
    <% else -%>
      <% content_for :startbox_main_option do -%>
        <p><%= link_to "Start survey &raquo;".html_safe, { :action => 'start', :id => @questionnaire.id }, :class => "bigbutton full" %></p>
      <% end -%>
    <% end -%>
  <% end -%>
  
  <% if @questionnaire.allow_preview -%>
    <% content_for :startbox_main_option do -%>
      <%= link_to "View a preview of this survey &raquo;".html_safe, { :action => "preview", :id => @questionnaire.id }, :class => "bigbutton blue small" %>
    <% end -%>
  <% end -%>
  
  <%= yield :startbox_heading -%>
  <%= yield :startbox_main_option -%>
  <ul style="padding-left: 0; margin-left: 0; list-style-type: none;">
    <%= yield :startbox_additional_options -%>
  </ul>
  <%= yield :startbox_additional_content -%>
</div>
</div>
      
  
