<h1>Responses for "<%= @questionnaire.title %>"</h1>

<%= render :partial => "questionnaires/toplevel_tabs" %>

<ul class="tabstrip2">
	<li id="view_tab" class="<%= link_tab_class 'index' %>">
		<%= link_to "Responses", responses_path(@questionnaire) %>
	</li>
	<li id="aggregate_tab" class="<%= link_tab_class 'aggregate' %>">
		<%= link_to "Questions", responses_path(@questionnaire) + "/aggregate" %>
	</li>
	<li id="print_tab" class="link">
		<%= link_to "Print", responses_path(@questionnaire) + "/print" %>
	</li>
  <li id="export_tab">
    <%= link_to_function "Export", "selectTab('export');"%>
  </li>
</ul>

<div id="export" style="display: none;" class="tabpage">
	<p><b>Export to a spreadsheet</b></p>
	<%= link_to "One response per row", responses_path(@questionnaire, :format => "csv") %><br/>
	<%= link_to "One response per column", responses_path(@questionnaire, :format => "csv", :rotate => true) %>
</div>

<div style="border-top: 1px black solid;">
</div>
