<h1>Responses for "<%= @questionnaire.title %>"</h1>

<%= render :partial => "questionnaires/toplevel_tabs" %>

<ul class="tabstrip2">
	<li id="view_tab" class="<%= link_tab_class 'index' %>">
		<%= link_to "Responses", responses_path(@questionnaire) %>
	</li>
	<li id="aggregate_tab" class="<%= link_tab_class 'aggregate' %>">
		<%= link_to "Questions", responses_path(@questionnaire) + "/aggregate" %>
	</li>
  <li id="export_tab">
    <%= link_to "Export/Print", responses_path(@questionnaire) + "/export" %>
  </li>
</ul>

