<div class="response" id="response">
  <% last_page = nil -%>

  <table class="question" id="notes">
    <tr>
      <td class="caption" style="width: 20%;">
        <% if @editing -%>
          <label for="response_notes">Notes</label>
        <% else -%>
          Notes
        <% end -%>
      </td>
      <td class="questionbody">
        <% if @editing -%>
          <%= text_area_tag "response[notes]", resp.notes %>
        <% else -%>
          <%= simple_format resp.notes %>
        <% end -%>
      </td>
    </tr>
  </table>

  <% @questionnaire.fields.each do |question| -%>
    <% if last_page != question.page
      last_page = question.page -%>
      <p class="pageheader"><%=h question.page.title %></p>
    <% end -%>
  
    <% answer = resp.answer_for_question(question) -%>
    <table class="question" id="question<%=resp.id%>_<%=question.id%>">
      <tr class="<%= cycle("odd", "even") %>">
        <td class="caption" style="width: 20%;">
          <% if @editing -%>
            <label for="answer_<%= question.id %>"><%=raw question.caption %></label>
          <% else -%>
            <%=raw question.caption%>
          <% end -%>
        </td>
        <td class="questionbody"><%= render_answer(question, answer)  %></td>
      </tr>
    </table>
  <% end -%>
</div>
