<div class="response" id="response">
  <% last_page = nil -%>

  <% @questionnaire.fields.each do |question| -%>
    <% if last_page != question.page
      last_page = question.page -%>
      <p class="pageheader"><%=h question.page.title %></p>
    <% end -%>
  
    <% answer = resp.answer_for_question(question) -%>
    <table class="question" id="question<%=resp.id%>_<%=question.id%>">
      <tr class="<%= cycle("odd", "even") %>">
        <td class="caption"><%= question.caption %></td>
        <td class="questionbody"><%= render_answer(question, answer)  %></td>
      </tr>
    </table>
  <% end -%>
</div>
