<%= render :partial => 'analyze_toolbar' %>

<div class="propertypage">
  <h2>Export</h2>
  
  <p>You can export all the responses to this survey to a spreadsheet (in CSV format, which can be opened by Excel, Numbers,
    Google Spreadsheets, OpenOffice.org, and other spreadsheet software).</p>
    
  <% form_tag(responses_path(@questionnaire, :format => "csv"), :method => "get", :style => "margin-left: 1em;") do -%>
    <p>
      <%= radio_button_tag "rotate", "false" %> each response in a row
      &nbsp;&nbsp;&nbsp;
      <%= radio_button_tag "rotate", "true" %> each response in a column
    </p>
    <p>
    <%= submit_tag "Export to spreadsheet" %>
    </p>
  <% end -%>
  
  <h2>Print</h2>
  
  <p>Click the button below to view or print out a printer-friendly version of this survey's responses.
  Each response will be printed on a separate page.</p>
  
  <%= button_to "Printer-friendly version", responses_path(@questionnaire) + '/print', :method => "get" %>
</div>
