<%  links = []
    p = person_signed_in? ? current_person : nil
    if @questionnaire.is_open
      links << link_to("Answer", :controller => "answer", :action => "index", :id => @questionnaire.id)
    end
    if p
      if p.permitted?(@questionnaire, "view_answers")
        links << link_to(pluralize(@questionnaire.valid_responses.size, "Response"), [@questionnaire, :responses])
      end
      if p.permitted?(@questionnaire, "destroy")
        links << link_to('Delete', questionnaire_path(@questionnaire), :confirm => 'Are you sure?', :method => :delete)
      end
      if p.permitted?(@questionnaire, "edit")
        links << link_to('Export', questionnaire_path(@questionnaire) + ".xml")
      end
    end
  -%>
<% authors = @questionnaire.authors.collect {|p| p.name}.join(", ") -%>
  <div id="questionnairesummary_<%=@questionnaire.id%>_open">
    <h3 style="display: inline; margin-top: 0;"><%= link_to @questionnaire.title, @questionnaire %></h3>
    <% if authors.length > 0 -%>
      <br/>
      <i>By <%=h authors %></i>
    <% end -%>
    <% if @questionnaire.tags.length > 0 -%>
      <br/>
      Tags: <b><%=h @questionnaire.tag_names.join(", ") %></b>
    <% end -%>
    <p>
      <%= pluralize(@questionnaire.pages.count, "page") %><br/>
      <%= pluralize(@questionnaire.fields.count, "question") %>
    </p>
    <p style="margin-bottom: 0;">
      <%= links.join(" ") %>
    </p>
  </div>
