<%= render :partial => "toplevel_tabs" %>

<ul class="tabstrip2">
	<li id="main_tab" class="<%= link_tab_class 'show' %>">
		<%= link_to "Main", @questionnaire %>
	</li>
	<% if logged_in? and logged_in_person.permitted?(@questionnaire, "edit") -%>
  	<% unless @questionnaire.is_open -%>
	  	<li id="questions_tab" class="<%= link_tab_class 'edit' %>">
	  		<%= link_to "Questions", edit_questionnaire_path(@questionnaire) %>
	  	</li>
	  	<li id="customize_tab" class="<%= link_tab_class 'customize' %>">
  			<%= link_to "Customize", questionnaire_path(@questionnaire) + '/customize' %>
  		</li>
		<% end -%>
  	<li id="export_tab" class="<%= link_tab_class 'export' %>">
  		<%= link_to "Export/Print", questionnaire_path(@questionnaire) + '/export' %>
  	</li>
  <% end -%>
</ul>
