<h1>Customize "<%=format_title @questionnaire.title%>"</h1>

<%= render :partial => "toolbar" %>

<script type="text/javascript">
  Resource.model("Questionnaire", {prefix: '<%= ActionController::Base.relative_url_root %>', format: 'json'});
</script>

<div class="propertypage">
<% form_for(:questionnaire, @questionnaire, :url => questionnaire_path(@questionnaire), :html => { :method => :put }) do |f| %>

  <h3>Custom HTML</h3>
  
  <p>This will be displayed at the top of each page before any of the questions.</p>
  
  <%= f.text_area "custom_html", :rows => 4 %>
  
  <h3>Custom CSS</h3>
  
  <p>You can use this to customize the look and feel of your pages.</p>
  
  <%= f.text_area "custom_css", :rows => 4 %>
    
  <p><%= submit_tag %></p>
<% end -%>
