<h1>Surveys</h1>

<%= javascript_include_tag "layout.js" %>

<ul class="tabstrip">
  <li id="create_survey_tab" class="dropdown">
    <%= link_to_function "New survey", "selectTab('create_survey');"%>
  </li>
	<li id="import_survey_tab" class="dropdown">
    <%= link_to_function "Import survey", "selectTab('import_survey');"%>
  </li>
</ul>

<div id="create_survey" style="display: none;" class="tabpage">
	<p><b>Create a new survey</b></p>
	<div style="max-width: 300px;">
		<% ae_form_for(:questionnaire, @questionnaire, :url => questionnaires_path) do |f| %>
		  <%= f.text_field "title" %>
			<%= submit_tag "Create" %>
		<% end %>
	</div>
</div>

<div id="import_survey" style="display: none;" class="tabpage">
	<p><b>Import a survey</b></p>
	<div style="max-width: 300px;">
	  <% form_tag(questionnaires_path, :multipart => true) do %>
		  <label for="file">XML file to import</label>
		  <input type="file" name="file" />
			<%= submit_tag "Import" %>
		<% end %>
	</div>
</div>

<div id="filter_params" style="border-top: 1px black solid; background-color: #FFE5C0;">
  <% form_tag({}, {:method => "get", :class => "filterbar"}) do  %>
      <table style="width: 100%">
        <tr>
          <td style="width: 25%;">
            <div style="position: relative;">
              <label for="filter_title" class="overlabel">Title</label>
              <%= text_field_tag "title", params[:title], {:id => "filter_title"} %>
            </div>
          </td>
          <td style="width: 25%;">
            <div style="position: relative;">
              <label for="tag" class="overlabel">Tag(s)</label>
              <%= text_field_tag "tag", params[:tag] %>
            </div>
          </td>
          <td style="text-align: right;">&nbsp;<%= submit_tag "Filter" %></td>
        </tr>
      </table>
  <% end %>
</div>

<%= render :partial => 'paged_results' %>