<%= render :partial => 'outer_tabs' %>

<div id="filter_params" style="border-top: 1px black solid; background-color: #FFE5C0;">
  <%= form_tag({}, {:method => "get", :class => "filterbar"}) do  %>
      <table style="width: 100%">
        <tr>
          <td style="width: 25%;">
            <div style="position: relative;">
              <label for="filter_title" class="overlabel">Title</label>
              <%= text_field_tag "title", params[:title], {:id => "filter_title"} %>
            </div>
          </td>
          <td style="width: 25%;">
            <div style="position: relative;">
              <label for="tag" class="overlabel">Tag(s)</label>
              <%= text_field_tag "tag", params[:tag] %>
            </div>
          </td>
          <td style="text-align: right;">&nbsp;<%= submit_tag "Filter" %></td>
        </tr>
      </table>
  <% end %>
</div>

<%= render :partial => 'paged_results' %>