<%= render :partial => "outer_tabs" %>

<div class="propertypage">
	<h2>Create a new survey</h2>
	<%= form_for @questionnaire do |f| %>
	  <p><label for="questionnaire_title">Title:</label> <%= f.text_field "title" %></p>
	  <%= render :partial => 'creator_warnings' %> 
	  <%= submit_tag "Create" %>
	<% end %>
	
	<h2>Copy an existing survey</h2>
	<%= form_for @questionnaire do |f| %>
	  <p>
		<label for="clone_questionnaire_id">Which survey would you like to make a copy of?</label></p>
	  <p>
		<%= select_tag "clone_questionnaire_id", options_for_select(
		@cloneable_questionnaires.collect {|q| [q.title, q.id]}
	  ) %>
	  </p>
	  <%= submit_tag "Copy" %>
	<% end %>
	
	<h2>Import a survey from XML</h2>
    <%= form_tag(questionnaires_path, :multipart => true) do %>
	  <p>You can export surveys from Journey in XML format by clicking the "Export" tab in the
	  survey view.</p>
	  <p>
		  <label for="file">XML file to import:</label>
		  <input type="file" name="file" />
      </p>
	  <%= render :partial => 'creator_warnings' %> 
	  <%= submit_tag "Import" %>
	<% end %>
</div>
