<%= error_messages_for :questionnaire %>
<%= javascript_include_tag "layout.js" %>

<%= render :partial => "toolbar" %>

<script type="text/javascript">
  Resource.model("Questionnaire", {prefix: '<%= ActionController::Base.relative_url_root %>', format: 'json'});
</script>

<% @editing = (person_signed_in? && current_person.can?(:edit, @questionnaire)) -%>

<div class="propertypage">
<%= form_for @questionnaire do |f| %>

    <h2 style="display: inline; margin-top: 0;">
      <%= jipe_editor @questionnaire, :title, :editing => @editing %>
    </h2>
    <% authors = @questionnaire.authors.collect {|p| p.name}.join(", ") -%>
    <% if authors.length > 0 -%>
      <br/>
      <i>By <%=h authors %></i>
    <% end -%>

    <% if @editing -%>
      <br/>Tags:
      <%=text_field_tag "questionnaire[tags]", @questionnaire.tag_names.join(", ") %>
    <% elsif @questionnaire.tags.size > 0 -%>
      <br/>Tags:
      <%= tag_links @questionnaire %>
    <% end -%>

    <p>
      <%= pluralize(@questionnaire.pages.count, "page") %><br/>
      <%= pluralize(@questionnaire.fields.count, "question") %>
    </p>

    <h3>Welcome page</h3>


    <% if @editing -%>
  	  <p>The welcome page is the first thing your visitors will see before starting your survey.  You can put any introductory
      text you'd like on the welcome page.</p>

      <p>For advanced formatting and other customizations, you can insert custom HTML code by clicking the "HTML" tab.</p>

	  <div style="border: 1px black solid; background-color: white; padding: 0.5em; max-width: 60em;" id="welcome_page_preview">
    <% scrubber = Rails::Html::TargetScrubber.new -%>
    <% scrubber.tags = ['form'] -%>
		<%= sanitize @questionnaire.welcome_text, scrubber: scrubber %>
		<p>
		  <%= button_to_function "Edit welcome text &raquo;".html_safe do |page|
			page['welcome_page_editor'].show
			page['welcome_page_preview'].hide
		  end -%>
		</p>
	  </div>

	  <div id="welcome_page_editor" style="display: none; width: 60em;">
        <%= render :partial => "html_editor", :locals => {:obj => @questionnaire, :field => "welcome_text"}%>
	  </div>
    <% else -%>
	  <% if @questionnaire.welcome_text.blank? -%>
	  	<p>This survey has no custom welcome page content.</p>
	  <% else -%>
        <div style="border: 1px black solid; background-color: #eee; padding: 0.5em; color: #333;">
          <%= @questionnaire.welcome_text %>
        </div>
	  <% end -%>
    <% end -%>

    <% if @editing -%>
      <p><%= submit_tag "Save changes" %></p>
    <% end -%>
<% end %>

<% if @editing and person_signed_in? and current_person.can?(:destroy, @questionnaire) -%>
  <h3>Delete this survey</h3>

  <p>This will <i>permanently</i> delete this survey, along with all the responses to it.
	We highly recommend exporting <%= link_to "the survey", :action => "export" %> and
	<%= link_to "its responses", [:export, @questionnaire, :responses] %> before proceeding.</p>

  <%= link_to "Delete this survey", questionnaire_path(@questionnaire), :method => "delete",
	  :confirm => "Are you sure you wish to delete the survey \"#{@questionnaire.title}\" and all " +
				  "its responses?  We recommend exporting it to a file first, if you haven't already " +
				  "done so.",
	  :style => "border: 1px #f00 solid; background-color: #faa; color: black;
	             padding: 0.5em; margin: 0.5em; cursor: pointer;
	             text-decoration: none; font-weight: bold;
				 border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;" %>
<% end -%>

</div>
