{{#link-to "admin.questionnaire.pages.page" page tagName="div" href=false}}
  <div class="answerpage" {{bind-attr data-page-id="id"}}>
    <div class="pagetitle">
      {{in-place-editor value=page.title model=page}}
    </div>

    {{#if questionnaire.hasMultiplePages}}
      <div class="pagecount">Page {{page.number}} of {{ questionnaire.pages.length }}</div>
    {{/if}}

    {{questions-editor questions=page.questionsSorted}}

    <div class="navbuttons">
      {{#unless page.isFirstPage}}
        <input type="submit" value="<< Previous page"/>
      {{/unless}}
      {{#if page.isLastPage}}
        <input type="submit" value="Finish"/>
      {{else}}
        <input type="submit" value="Next page >>"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Finish later"/>
      {{/if}}
    </div>
  </div>
{{/link-to}}