<span class="draghandle" title="Drag to change question order"></span>

<span class="questionandcaption">
  {{#unless editMode}}
    <div class="edit-mode-overlay" {{action 'toggleEditMode'}}>
      <p>Click to edit</p>
    </div>
  {{/unless}}

  {{#unless question.isDisplay}}
    <label {{bind-attr class=":caption question.required:required" for="view.answerField.elementId"}}>
      {{{question.caption}}}
    </label>
  {{/unless}}

  <span class="questionbody">
    {{#if question.hasPurpose}}
      <span class="special_purpose">
        <span class="icon icon-set-special-purpose"></span>
        {{question.purpose}}
      </span>
    {{/if}}

    <question-body question=question editMode=editMode />
  </span>
</span>

{{#if editMode}}
  <div class="edit-controls">
    <a class="close" {{action 'toggleEditMode'}}>x</a>

    <form>
      <div>
        <label {{bind-attr for="view.captionField.elementId"}}>Caption</label>
        {{input type="text" value=question.caption viewName="captionField"}}
      </div>
      {{#unless isDisplay}}
        <div>
          <label>
            {{input type="checkbox" checked=question.required}}
            Required
          </label>
        </div>
        <div>
          <label {{bind-attr for="view.defaultAnswerField.elementId"}}>Default answer</label>
          {{input type="text" value=question.defaultAnswer viewName="defaultAnswerField"}}
        </div>
      {{/unless}}
    </form>

    <ul>
      {{partial "question-options"}}
    </ul>

    <button {{action "save"}}>Save changes</button>
  </div>
{{/if}}