<span class="draghandle" title="Drag to change question order"></span>

<span class="questionandcaption">
  <div class="edit-mode-overlay" {{action toggleEditMode}}>
    <p>Click to edit</p>
  </div>
  
  {{#unless isDisplay}}
    <label {{bind-attr class=":caption view.content.required:required" for="view.answerField.elementId"}}>
      <span {{bind-attr class=":icon :image_button view.content.required:icon-required:icon-not-required"}} {{action "toggleRequired" target="view"}}>
      </span>
      
      {{view QuestionnaireEdit.InPlaceEditorView valueBinding="caption" modelBinding="this" displayRawHtml=true}}
    </label>
  {{/unless}}
  <span class="questionbody">
    {{#if hasPurpose}}
      <span class="special_purpose">
        <span class="icon icon-set-special-purpose"></span>
        {{purpose}}
      </span>
    {{/if}}
  
    {{view QuestionnaireEdit.QuestionBodyView contentBinding="this"}}
      
  </span>
</span>

<span class="moreoptions">
  <span class="dropdown_icon" {{action "showOptions" target="view"}} title="More options..."></span>
  {{#if view.optionsVisible}}
    <ul class="dropdown">
      <span class="selected_dropdown_icon" {{action "hideOptions" target="view"}} title="Hide options"></span>
      
      {{partial "question_options"}}
    </ul>
  {{/if}}
</span>