<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
  <title><%= page_title %></title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <%= stylesheet_link_tag 'journey' %>
  <%= stylesheet_link_tag 'questionnaire' %>
  <!--[if IE 7]>
    <%= stylesheet_link_tag 'ie7hacks' %>
  <![endif]-->
  <!--[if IE 6]>
    <%= stylesheet_link_tag 'ie7hacks' %>
    <%= stylesheet_link_tag 'ie6hacks' %>
  <![endif]-->
  <%= stylesheet_link_tag 'auth' %>
  
  <%= yield :stylesheets %>
  
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag '/jipe/jester' %>
  <%= javascript_include_tag '/jipe/jipe' %>
  <%= javascript_include_tag 'overlabel' %>
  <%= javascript_include_tag "layout" %>
  
  <%= yield :javascripts %>
  
  <%= include_tiny_mce_if_needed %>
  <% if @rss_url %>
    <link rel="alternate" title="RSS Feed" href="<%=@rss_url%>" type="application/rss+xml"/>
  <% end %>
</head>
<body id="body">

<% if flash[:error_messages] -%>
    <div class="errors">
        <h2>There were errors processing your request:</h2>
        <ul>
                <% flash[:error_messages].each do |error| -%>
                        <li><%= error %></li>
                <% end -%>
        </ul>
    </div>
<% end %>

<div class="topbar">
    <%= user_options %>
    <%= link_to(image_tag("journey26-logo.png", :border => "0", :alt => "Journey 2.6"), questionnaires_url) %>
</div>

<%= @content_for_layout %>

<% if Journey::SiteOptions.footer_partial -%>
	<div id="footer">
		<%= render :partial => Journey::SiteOptions.footer_partial %>
	</div>
<% end -%>

</body>
</html>
