<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  <!--[if IE 7]>
    <%= stylesheet_link_tag 'ie7hacks' %>
  <![endif]-->
  <!--[if IE 6]>
    <%= stylesheet_link_tag 'ie7hacks' %>
    <%= stylesheet_link_tag 'ie6hacks' %>
  <![endif]-->
  <% Journey::SiteOptions.additional_stylesheets.each do |ss| -%>
    <%= stylesheet_link_tag ss %>
  <% end -%>

  <%= javascript_include_tag :application %>
  
  <% if @rss_url %>
    <link rel="alternate" title="RSS Feed" href="<%=@rss_url%>" type="application/rss+xml"/>
  <% end %>
</head>
<body id="body">

<% if flash[:error_messages] -%>
    <div class="errors">
        <h2>There were errors processing your request:</h2>
        <ul>
                <% flash[:error_messages].each do |error| -%>
                        <li><%= error %></li>
                <% end -%>
        </ul>
    </div>
<% end %>

<div class="topbar">
  <nav class="user_options">
    <ul>
      <% if ENV['SUGAR_POND_BRANDING'] -%>
        <li <% if params[:controller] == 'support' %>class="current"<% end %>>
          <%= link_to "Support", support_path %>
        </li>
      <% end -%>
      
      <% if person_signed_in? -%>
        <li>
          <%= link_to(current_person.name.presence || "My profile", IllyanClient.base_url) %>
        </li>
        <li>
          <%= link_to "Log out", destroy_person_session_path, method: :delete %>
        </li>
      <% else -%>
        <li>
          <%= link_to "Log in", new_person_session_path %>
        </li>
      <% end -%>
    </ul>
  </nav>
  <%= image_tag("journey26-logo.png", :alt => "Journey") %>
</div>

<% if globalnav_links.size > 0 -%>
  <ul class="globalnav">
    <%= globalnav_links %>
  </ul>
<% end -%>

<div style="clear: both;"></div>

<%= yield %>

<% if Journey::SiteOptions.footer_partial -%>
	<div id="footer">
		<%= render :partial => Journey::SiteOptions.footer_partial %>
	</div>
<% end -%>

</body>
</html>
