!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %table{:cellpadding => "0", :cellspacing => "0", :style => "width: 100%"}
      %tr
        %td{:background => image_path('topbar-bg.png'), :style => "border: #bad032 2px solid; border-right: none; border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px;"}
          = link_to root_url do
            = image_tag "journey26-logo.png", alt: "Journey", style: "padding: 0.5em; border: none;"
        %td{:background => image_path('topbar-bg.png'), :style => "border: #bad032 2px solid; border-left: none; text-align: right; border-top-right-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px;"}
          %a{:href => "http://sugarpond.net"}
            = image_tag "sugarpond-inline.png", alt: "Sugar Pond", style: "padding: 0.5em; padding-left: 2em; border: none;"
            
      %tr{:style => ""}
        %td{:colspan => "2", :style => "border: #bad032 2px solid; border-top: none; border-bottom: none; padding: 1em; font-family: sans-serif; background-color: white; color: black;"}
          = yield
          
      %tr
        %td{:colspan => "2", :style => "background: #bad032; border: #bad032 2px solid; border-top: none; border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; font-family: sans-serif; text-align: right; font-size: 85%; text-align: center; color: #666666;"}
          You're receiving this email because you use Journey to create surveys.
          %br
          %a{:href => "*|UNSUB:#{root_url}|*", :style => "text-decoration: none; color: #0000AA;"} If you don't want to receive email about Journey, click here to unsubscribe.
          %br
          %b Contact us:
          Nat Budin, 700 32nd St. A203, Bellingham, WA 98225
